body {
   background-color: aquamarine;
}


.keys {
   background: white;
   font-size: 10rem;

   color: white;
   min-height: 30px;
   min-width: 25px;

   border-style: solid;
   border-color: rgb(78, 78, 78);
   border-width: 4px;

}


.container {
   margin: 0px;
   padding: 0px;

   border-color: blue;

   display: flex;
   flex-direction: row;
   justify-content: center;

   vertical-align: middle;

   margin-top: 22%;
}

